version: "3.9"
services:
  zincsearch:
    image: public.ecr.aws/zinclabs/zincsearch:latest
    ports:
      - "4080:4080"
    environment:
      - ZINC_FIRST_ADMIN_USER=admin
      - ZINC_FIRST_ADMIN_PASSWORD=21jejAlo
    volumes:
      - zincsearch-data:/data
  indexer:
    build: ./enron-mail-indexer
    links:
      - zincsearch
    depends_on:
      - zincsearch
  backend:
    build: ./enron-mail-backend
    ports:
      - "3000:3000"
    links:
      - zincsearch
  frontend:
    build: ./enron-mail-frontend
    links:
      - backend
    ports:
      - "8081"
volumes:
  zincsearch-data:


